.booksUl {
  list-style: none;
  margin: 0;
  padding: 0;
}

.book {
  background-color: rgb(209, 209, 209);
  padding: 1rem;
  margin: 1rem;
}

.category,
.title,
.author {
  padding: 0;
  margin: 0;
}

.category {
  font-weight: 700;
  color: rgb(75, 75, 75);
}
