.bookForm {
  padding: 1rem 3rem;
}

.formTitle {
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: white;
  color: #888;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgb(222, 222, 222);
  border-left: 1px solid rgb(222, 222, 222);
  border-right: 1px solid rgb(222, 222, 222);
}

.createBook {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(222, 222, 222);
  border-left: 1px solid rgb(222, 222, 222);
  border-right: 1px solid rgb(222, 222, 222);
}

.titleInput {
  background-color: white;
  height: 1.5rem;
  width: 25%;
  border: 1px solid rgb(198, 198, 198);
}

.authorInput {
  width: 25%;
  border: 1px solid rgb(198, 198, 198);
}

.categoryInput {
  border: 1px solid rgb(198, 198, 198);
  width: 20%;
}

.submit {
  color: white;
  border: none;
  padding: 0 1rem;
  border-radius: 3px;
  background-color: #0290ff;
  width: 15%;
}

.loading {
  background: white;
  text-align: center;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 10px;
  margin: 0 auto;
  padding: 1rem;
  width: 80%;
}
